.VideoChapters {
}

li {
    display: flex;
    flex-direction: row;
    padding-left: 1vw;
}

.chapterTimestamp {
    color: dodgerblue;
    font-weight: bold;
    cursor: pointer;
}

.chapterTitle {
    padding-left: 10px;
}
