.ChatBox {
    padding-left: 1vw;
    overflow-y: scroll;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: flex;
}

#messages {
    height: 70vh;
}

.msgAuthor {
    font-weight: bold;
    padding-right: 1vw;
    color: aquamarine;
}

.msgMoment {
    font-style: italic;
    cursor: pointer;
    color: dodgerblue;
    padding-left: 1vw;
}

#messageToSend {
    margin-top: 1vh;
    position: absolute;
}
