.ChatBox {
    padding-left: 1vw;
}

ul {
    list-style: none;
    padding-left: 0;
}

.msgDate {
    padding-right: 1vw;
}

.msgAuthor {
    font-weight: bold;
    color: aquamarine;
}

.msgContent {
    padding-left: 1vw;
}

.msgMoment {
    font-style: italic;
    cursor: pointer;
    color: dodgerblue;
    padding-left: 1vw;
}

#messages {
    overflow-y: scroll;
}
