.ChatBox {
    height: 85vh;
    overflow-y: scroll;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {

    display: flex;
}

.msgAuthor {
    font-weight: bold;
    padding-right: 1vw;
    color: aquamarine;
}

.msgMoment {
    font-style: italic;
    cursor: pointer;
    color: dodgerblue;
    padding-left: 1vw;
}

#messageToSend {
    align-content: flex-end;
}
