html {
    background-color: #181a1b;
    font-family: "Montserrat", serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 2vh 3vh;
    user-select: none;
    display: flex;
    align-items: center;
}

#logo {
    padding-right: 3vh;
    width: 100px;
    pointer-events: none;
}

.content {
    display: flex;
    justify-content: space-between;
}

.tabs {
    flex: 30%;
}
