html {
    background-color: #181a1b;
    font-family: "Montserrat", serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 2vh 3vh;
    width: 100vh;
    user-select: none;
}

#logo {
    padding-right: 3vh;
    width: 100px;
    pointer-events: none;
}

.content {
    display: flex;
    flex: 3 1 100%;
    justify-content: space-between;
}

.VideoPlayer {
    border: 2px solid red;
}
